  
<div id="myCarousel" class="carousel slide carousel-fade" style="width: 950px; margin: 0px auto 0px; margin-top: -10px;">
    <div class="carousel-inner"> <!-- start inner carousel contents -->
            <div class="item carouselImg active"><!--  active so carousel auto starts -->
                <img src="images/cl2ne1.jpg" alt="CL 2ne1">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="h_yellow david_text_left">Lee Chaelin</h1>
                        <p class="lead">2ne1's CL. Seoul city's baddest bi*ch.</p><br>
                    </div>
                </div>
            </div> <!-- end first carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/2ne1acoustic.jpg" alt="2ne1 and Jung Sungha">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow david_text_left">Acoustic takeover</h1>
                    <p class="lead">Jung Sungha collaborates with YG Entertainment</p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg"> <!-- next carousel screen start -->
            <img src="images/bigbangbluemv.jpg" alt="Big Bang Blue MV">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow david_text_left">Blue - #1 on YouTube in one day</h1>
                    <p class="lead">Big Bang's 5th album debut single attracts millions of viewers in one day</p><br>
                </div>
            </div>
        </div> <!-- end carousel screen -->
        <div class="item carouselImg">
            <img src="images/bom_iloveu.jpg" alt="Bom Park">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow david_text_left">Park Bom</h1>
                    <p class="lead">2ne1's lead vocalist sets the bar</p><br>
                </div>
            </div>
        </div>
        <div class="item carouselImg">
            <img src="images/tokyocitynight.jpg" alt="Tokyo city night">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow david_text_left">Travel Tokyo</h1>
                    <p class="lead">With its many diverse districts, Tokyo attracts visitors daily</p><br>
                </div>
            </div>
        </div>
        <div class="item carouselImg">
            <img src="images/carnightdrift.jpg" alt="Car drift">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow david_text_left">Getting Sideways</h1>
                    <p class="lead">Car culture takes a sideways turn</p><br>
                </div>
            </div>
        </div>
        <div class="item carouselImg">
            <img src="images/japangundam.jpg" alt="Japan Gundam">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="h_yellow david_text_left">Japan has 60ft tall Gundam</h1>
                    <p class="lead">Life sized toy or secret ploy?</p><br>
                </div>
            </div>
        </div>
    </div> <!-- end carousel inner -->
    
</div><!-- end my carousel -->
