  <div id="myCarousel" class="carousel slide" style="margin: 5px auto 2px;">
    <div class="carousel-inner"> <!-- start inner carousel contents -->
            <div class="item carousel_iconImg active"><!--  active so carousel auto starts -->
                <i class="icon-comment-alt icon-3x"></i> Post about the asian themed things you love <br>
            </div> <!-- end first carousel screen -->
        <div class="item carousel_iconImg"> <!-- next carousel screen start -->
                <i class="icon-camera icon-3x"></i> Share your favorite pictures
        </div> <!-- end carousel screen -->
        <div class="item carousel_iconImg"> <!-- next carousel screen start -->
                <i class="icon-user icon-3x"> </i> Follow interesting people <br>
        </div> <!-- end carousel screen -->
        <div class="item carousel_iconImg">
                <i class="icon-globe icon-3x"></i> Connect with enthusiasts around the world
        </div>
    </div> <!-- end carousel inner -->
</div><!-- end my carousel -->
