<footer class="footer navbar-fixed-bottom">
	<div class="container">
		<small>
			<a href="http://www.asiafan.net/">Asia Fan</a>
			by <a href="http://www.devdavid.com">Dev David</a>
		</small>
	</div>
</footer>